patternFetch/list.txt
patternFetch/logs
patternFetch/game.tmp
patternFetch/games
debug_build
release_build
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
.cproject
.project
gui/libgogui/moc_*
gui/libgogui/qrc_*
gui/libgogui/libgogui.a
